*{
    margin: 0;
    padding:0;
}
body{
    overflow: hidden;
}
.gameContainer{
    background-image: url(R.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    /* width: 100vw; */
    height: 100vh;   
}
.dino{
    background-position: 0%;
    background-image: url(cute_9029369.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
}
.obstacle{
    background-image:url(animal.png);
    background-size: cover;
    background-size: 100%;
    height: 80px;
    width: 80px;
    position: absolute ;
    bottom: 0;
    left: 50vw;
}

.gameOver{
    position: relative;
    top: 70px;
    font-size: 36px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}
#scoreCont{
    font-family: sans-serif;
    position: absolute;
    right: 93px;
    top: 43px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 10px;
    width: 130px;
    color: skyblue;
    font-weight: 500;

}
.animateDino{
    animation: dino .5s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes obstacleAni {
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}
